* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: sandybrown;
    position: relative;
    padding-bottom: 100px;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header h1 {
    font-family: cursive;
    color: white;
}

.catalogo-de-productos {
    width: 90%;
    min-height: 1000px;
    margin: 15px auto;
    background: white;
}

.catalogo-de-productos h1 {
    text-align: center;
    font-size: 5vh;
    margin: 30px 0px;
    padding: 5px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 300px;
    margin: 15px;
    box-shadow: 1px 1px 10px black;
}

.img-producto {
    border-bottom: 1px solid;
    height: 80%;
    width: 100%;
}

.img-producto .img {
    width: 100%;
    height: 100%;
}

.info-producto {
    width: 100%;
    height: 20%;
    margin: 5px;
}

.precio-producto {
    font-size: 20px;
    color: black;
}

footer {
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    position: absolute;
    bottom: 0;
}
