* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #ECECEC;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 200px;
}

input {
    display: none;
}

header {
        width: 100%;
        height: 50px;
        background: crimson;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    margin-left: 15px;
}

.labelmenu {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

ul {
    position: absolute;
    min-height: 200px;
    background: black;
    min-width: 100px;
    right: 0;
    top: 50px;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 15px;
    display: none;
}

ul li {
    list-style: none;
    padding: 15px;
}

ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

#inputmenu:checked ~ ul {
    display: flex;
}

#inputmenu:checked ~ .labelmenu .fa-x {
    display: block;
}

#inputmenu:checked ~ .labelmenu .fa-bars {
    display: none;
}

.labelmenu .fa-x {
    display: none;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

article {
    height: auto;
    width: auto;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}

.selector {
    height: auto;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}

.categorias {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.categorias a {
    width: 100%;
    height: auto;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    background: black;
    margin: 15px 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px white;
}

.titulo-categoria {
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.articulos {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 300px;
    margin: 15px;
    border: 1px solid grey
}

.img-producto {
    height: 80%;
    width: 100%;
}

.img-producto .img {
    width: 100%;
    height: 100%;
}

.info-producto {
    width: 100%;
    height: 20%;
    margin: 5px;
}

.precio-producto {
    font-size: 20px;
    color: black;
}

footer {
    width: 100%;
    height: 100px;
    background: crimson;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    font-size: 5vh;
}

@media (max-width: 900px) {
    ul {
        width: 100%;
    }
}